@import "../../../globalStyles/scss/variables.scss";

.breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  margin: $spacer 0;

  li {
    &:not(:last-of-type) {
      &:after {
        content: "/";
        display: inline-block;
        margin: 0 $spacer / 3;
      }
    }

    a {
      color: $black;
      text-decoration: none;
      vertical-align: middle;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: $titans;
      }
    }
  }

  &__active {
    a {
      color: $gray !important;
      // font-weight: $bold-font-weight;

      &:hover {
        color: $titans !important;
      }
    }
  }
}
